:root {
  --primary-color: #1b4965;
  --secondary-color: #62b6cb;
  --accent1-color: #cae9ff;
  --accent2-color: #ffffff;

  --heading-font: Arial, Helvetica, sans-serif;
  --body-font: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--primary-color);
  background-color: var(--accent1-color);
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--accent2-color);
}

header nav a {
  color: var(--accent2-color);
  text-decoration: none;
  font-family: var(--heading-font);
}

header nav a:hover {
  text-decoration: underline;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: rgba(27, 73, 101, 0.7);
  color: var(--accent2-color);
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: var(--accent2-color);
  padding: 16px;
  width: 60%;
}

.hero article img {
  float: right;
  width: 125px;
  margin-left: 16px;
}

.socialmedia a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent2-color);
}